<!-- This page is just a transitionary page between making things appear and disappear. After a certain amount of time, or a killswitch, it will redirect to the main magic stage. Deleting and adding both redirect to the same page so this is an easy inbetween. -->

<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('../partials/head.ejs', {title: `Magic Working...`}) %>
    <link rel="stylesheet" href="/styles/hocuspocus.css">
    <!-- This auto-changes the page after 3 seconds -->
    <meta http-equiv="refresh" content="3;url=/magicshow" />
</head>

<body>
    <div class="container">
    <main class="magictext">
        <p class="is-size-1">The Magic Is Working...</p>
        <!-- <a href="/magicshow">Killswitch link for now</a> 
        I'll keep the killswitch link in case I need it later.-->
    </main>
    </div>
</body>


</html>