<!-- This page will produce a small form for someone to make something. -->
<!DOCTYPE html>
<html lang="en">
<!-- Name -->
<!-- Species (That way we can just pre-select animals) -->
<!-- Color, maybe? (we could either pick a flat, mono-colored image and then swap the colors around in CSS much like we did for Robin's icons on her portfolio project.) -->
<head>
    <%- include('../partials/head.ejs', {title: `Make some magic`}) %>
    <!-- <link rel="stylesheet" href="/styles/new-creation.css"> -->
</head>

<body>
    <%- include('../partials/nav.ejs') %>
    <div class="content">
    <section class="topofpage">
        <p class="title"> Work your own magic! </p>
        <p class="subtitle"> You're the magician in this carnival. Let's see you make something appear out of thin air! </p>
        <br>
    </section>

    <form action="/magicshow/magic" method="POST">
        <div class="field">
        <label class="label" for="name">Creation name:</label>
            <div class="control">
            <input class="input" type="text" id="name" name="name" required>
            </div>
        </div>
        <div class="field">
        <label class="label" for="species">Species:</label>
            <div class="control">
                <div class="select">
                <select id="combo" name="species">
                    <option value='Rabbit'>Rabbit</option>
                    <option value='Cat'>Cat</option>
                    <option value='Parking Ticket'>Parking Ticket</option>
                    <option value='Zebra'>Zebra</option>
                    <option value='Book'>Book</option>
                </select>
            </div>
            </div>
        </div>
        <input class="button is-link" type="submit" value="Work the magic!">

    </form>
    </div>

</body>