<!-- Simple view, top of the screen with links to each part of the carnival (which for now is just the guestbook and magic show) -->
<header>
    <h1>The Carnival of Omen</h1>
    <nav>
        <ul>
            <li><a href="/">To the entrance</a></li>
            <li><a href="/magicshow">Magic Show</a></li>
            <li><a href="/guestbook">Sign the Guestbook</a></li>
            <!-- When more attractions appear, the magic show link will change to the attractions link to send someone back to the list of options to go to -->
        </ul>
    </nav>
</header>