<!-- Simple view, top of the screen with links to each part of the carnival (which for now is just the guestbook and magic show) -->
<header class="navigation">
    <p class="navbar-brand is-size-3">The Carnival of Omen</p>
    <nav class="breadcrumb is-right">
        <ul>
            <li><a class="navbar-item" href="/">To the entrance</a></li>
            <li><a class="navbar-item" href="/attractions">Attractions</a></li>
            <li><a class="navbar-item" href="/guestbook">View the Guestbook</a></li>
        </ul>
            <!-- When more attractions appear, the magic show link will change to the attractions link to send someone back to the list of options to go to -->
    </nav>
</header>