<!-- Simple view, top of the screen with links to each part of the carnival (which for now is just the guestbook and magic show) -->
<header>
    <nav class="navbar">
        <p class="navbar-brand">The Carnival of Omen</p>
        <ul>
            <li><a class="navbar-item" href="/">To the entrance</a></li>
            <li><a class="navbar-item" href="/magicshow">Magic Show</a></li>
            <li><a class="navbar-item" href="/guestbook">View the Guestbook</a></li>
            <!-- When more attractions appear, the magic show link will change to the attractions link to send someone back to the list of options to go to -->
        </ul>
    </nav>
</header>