<!-- 404 catch-all view when a link isn't accessed. -->
<!DOCTYPE html>

<head>
    <%- include('./partials/head.ejs', {title: `Page not Found`}) %>
    <link rel="stylesheet" href="/styles/404.css">
</head>

<body>
<div class="filter">    
    <div class="content">
        <p class="is-size-3">No Page Available</p>
        <p class="is-size-5">I'm sorry, my friend, but you seem to be lost. Let us guide you back to the carnival. <i>Wouldn't want you to get hurt if you stray too far away...</i></p>
        <a href="/attractions">Back to safety</a>
    </div>
</div>
</body>