<!-- This page is a directory similar to the navbar, which we'll edit the navbar to link to the "attractions" page once there's a few attractions.-->
<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs', {title: `Carnival Attractions`}) %>
    <!-- <link rel="stylesheet" href="*"> no stylesheet for this page yet -->
</head>

<body>
    <%- include('./partials/nav.ejs') %>
</body>

</html>