<!-- This page is a directory similar to the navbar, which we'll edit the navbar to link to the "attractions" page once there's a few attractions.-->
<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs', {title: `Carnival Attractions`}) %>
    <!-- <link rel="stylesheet" href="*"> no stylesheet for this page yet -->
</head>

<body>
    <%- include('./partials/nav.ejs') %>
    <div class="content">
    <section class="hero">
        <p class="is-size-3">Check out what we have available!</p>
        <p class="is-size-5">Please excuse the small number of attractions, but we aim to increase them more and more as time goes on!</p></br>
    </section>
    <a class="is-size-5" href="/wheel">The Wheel of Prizes</a>
    <p class="is-size-6">A wheel of wonders awaits you as you can spin to see what you can win at this carnival! Be careful, though, as not all of the spaces are fortunate!</p>
    <a class="is-size-5" href="/magicshow">The Magic Show</a>
    <p class="is-size-6">The main attraction of the carnival, where <strong>YOU</strong> are the magician! Be able to make things appear and disappear before your eyes! Please, <i>tell us your secrets!</i></p>
    <a class="is-size-5" href="/strength">The Test of Strength</a>
    <p class="is-size-6">A carnival favorite! A heavy hammer and a metal weight on a fulcrum - name a more iconic couple! (Please wait while we complete this attraction as it's not quite ready yet.)</p>
    <a class="is-size-5" href="/guestbook">The Guestbook</a>
    <p class="is-size-6">Come sign our guestbook and let us know that you've come here! You can also view the entries of our previous patrons that enjoyed themselves!</p>
    </div>
</body>

</html>