<!-- This is a welcome page to the Carnival of oMEN. It'll just be a nice introductory landing page, telling people what this is about and what to expect. -->

<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs', {title: `Welcome`}) %>
    <!-- <link rel="stylesheet" href="/styles/home.css" 
    no CSS file for this page yet.-->
</head>

<body>
    
    <main>
        <h1>This is the home page, telling you about the stuff you're about to see.</h1>
        <a href="/attractions">This goes to the attractions page.</a>

    </main>

</body>

</html>