<!-- This is a welcome page to the Carnival of oMEN. It'll just be a nice introductory landing page, telling people what this is about and what to expect. -->

<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs', {title: `Welcome`}) %>
    <!-- <link rel="stylesheet" href="/styles/home.css" 
    no CSS file for this page yet.-->
</head>

<body>
    
    <main class = "content">
        <h1>Welcome to the Carnival of Omen!</h1>
        <p>We humbly thank you for considering us as an avenue of entertainment for your evening. Please be sure to enjoy yourself and the lovely attractions we have prepared for you!</p>
        <p>Now, now, I know what you're thinking. With a name like "omen", you're thinking of something being "ominous", or  negative and impending, yes? <strong><i>COME NOW, DON'T BE FOOLISH!</i></strong> As I'm sure you already know, an omen can be a good thing, too! People considered omens to be messages from the gods!</p>
        <a href="/attractions">Come on in and see what we have waiting for you!</a>

    </main>

</body>

</html>