.entryblock {
    margin: 20px;
    background-color: lightblue;
}

.titlecard {
    text-align: center;
}

.button, .victim {
    background-color: lightblue;
}

.entryblock {
    padding: 20px;
    border-radius: 19%;
    border: 6px solid black;
}