@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma-rtl.min.css";

* {
    border: 1px dotted black;
}
/* .carnival-picture {
    background-image: url("../assets/carnival.jpg");
    filter: blur(2px);
    -webkit-filter: blur(2px);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
} */

html {
    background-image: url("../assets/carnival.jpg");
    backdrop-filter: blur(1px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: blueviolet;
    height: 100%;
    background-attachment: fixed;
}

.navbar, .content {
    max-width: 900px;
    margin: auto;
    background-color: rgba(250, 174, 22, 0.47);
    margin-top: 1%;
    border-radius: 2%;
}

/* .subjects {
    max-width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.victims {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
} */

ul > div {
    list-style: none;
}


